In [5]:
import googlemaps
from datetime import datetime
import os
from dotenv import load_dotenv
load_dotenv()
import requests, json 
import pandas as pd
from pymongo import MongoClient
import time

In [6]:
def connectCollection(database, collection):
    client = MongoClient()
    db = client[database]
    coll = db[collection]
    return db, coll

In [60]:
#para crear nuevas collections
myclient = MongoClient("mongodb://localhost/")
mydb = myclient["companies"]
mycol = mydb["schools"]
#para importar el contenido de un csv a mongo
#mongoimport --db companies --collection kindergarten --type csv --file kindergarten.csv --headerline

In [30]:
#https://stackoverflow.com/questions/5681851/mongodb-combine-data-from-multiple-collections-into-one-how

In [8]:
db, coll = connectCollection('companies','preferred')

In [9]:
#stars = list(coll.find{"location": {"$exists": False }}))

In [10]:
business = list(coll.find({"$and":[{"money_raised":{"$ne":"$0"}},{"year":{"$gte":2009}}]}))

In [11]:
print(len(business))

99

In [35]:
'''
gmaps = googlemaps.Client(key=os.getenv('API_KEY'))
geocode_result = gmaps.places('starbucks palo alto')
'''

"\ngmaps = googlemaps.Client(key=os.getenv('API_KEY'))\ngeocode_result = gmaps.places('starbucks palo alto')\n"

In [36]:
'''
for i in range(len(y)): 
        results.append((y[i]['name'],y[i]['formatted_address'],y[i]['geometry']['location']))
'''

"\nfor i in range(len(y)): \n        results.append((y[i]['name'],y[i]['formatted_address'],y[i]['geometry']['location']))\n"

In [10]:
#location=-33.8670522,151.1957362&radius=1500&type=restaurant&keyword=cruise&key=YOUR_API_KEY

In [12]:
#query = "{}location={},{}&radius={}&type={}&keyword=cruise&key={api_key}".format(url,lat,long,radius,what,api_key)

In [12]:
def search_places_by_coordinate(location, radius, keyword):
        url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        places = []
        params = {
            'location': location,
            'radius': radius,
            'keyword': keyword,
            'key': os.getenv("API_KEY")
        }
        res = requests.get(url, params = params)
        results =  json.loads(res.content)
        places.extend(results['results'])
        while "next_page_token" in results:
            params['pagetoken'] = results['next_page_token'],
            res = requests.get(url, params = params)
            results = json.loads(res.content)
            places.extend(results['results'])
        return places

In [21]:
#encontrar la función que saca la lat y long

In [13]:
def getcoord(query, lat, long):
    for que in query: 
        lat.append(que['location']['coordinates'][1])
        long.append(que['location']['coordinates'][0])
    return len(lat),len(long)

In [14]:
lat=[]
long=[]
getcoord(business,lat,long)

(99, 99)

In [15]:
lista=[]
busines=list(zip(lat,long))

In [16]:
for i in busines:
    lista.append("{},{}".format(i[0],i[1]))

In [50]:
start=time.time()
results=[]
for i in lista:    
    results.append(search_places_by_coordinate(i, "2000", "pub"))
end=time.time()
print(end - start)

137.12168312072754

In [51]:
results[0][0]['geometry']['location']['lat']

40.7649588

In [52]:
results[18][0]['name']

'Wirströms Pub'

In [53]:
len(results[89])

20

In [54]:
def createApiDf(query):
    name=[]
    long=[]
    lat=[]
    for location in query:
        for starbucks in location:
            name.append(starbucks['name'])
            long.append(starbucks['geometry']['location']['lng'])
            lat.append(starbucks['geometry']['location']['lat'])
    dic2={"name":name,"long":long,"lat":lat}
    lil_DF=pd.DataFrame(dic2)
    return lil_DF

In [55]:
df_molona = createApiDf(results)
df_molona

                          name        long        lat
0                 McGee's pub.  -73.982874  40.764959
1                The Irish Pub  -73.981356  40.763262
2               O'Reilly's Pub  -73.988872  40.747580
3        Playwright Celtic Pub  -73.988032  40.759381
4                   O'Lunney's  -73.984334  40.757641
...                        ...         ...        ...
1654                London Pub -123.099576  49.278461
1655      The Fountainhead Pub -123.129690  49.279683
1656    St Regis Bar and Grill -123.115944  49.283176
1657      Cardero's Restaurant -123.127482  49.291610
1658  Johnnie Fox's Irish Snug -123.123771  49.278983

[1659 rows x 3 columns]

In [56]:
df_molona=df_molona.drop_duplicates()
df_molona

                          name        long        lat
0                 McGee's pub.  -73.982874  40.764959
1                The Irish Pub  -73.981356  40.763262
2               O'Reilly's Pub  -73.988872  40.747580
3        Playwright Celtic Pub  -73.988032  40.759381
4                   O'Lunney's  -73.984334  40.757641
...                        ...         ...        ...
1654                London Pub -123.099576  49.278461
1655      The Fountainhead Pub -123.129690  49.279683
1656    St Regis Bar and Grill -123.115944  49.283176
1657      Cardero's Restaurant -123.127482  49.291610
1658  Johnnie Fox's Irish Snug -123.123771  49.278983

[1175 rows x 3 columns]

In [57]:
export_csv = df_molona.to_csv('pubs99.csv', index=None, header=True)

In [55]:
'''
def getStarbucks(query):
    for location in query:
        for starbucks in location:
            starb = {'name': starbucks['name'],
                     'long': starbucks['geometry']['location']['lng'],
                     'lat': starbucks['geometry']['location']['lat']}
    df = pd.DataFrame(starb)
    return df
'''

In [45]:
starbucks=createApiDf(results)

In [46]:
starbucks

                 name        long        lat
0           Starbucks  -73.985880  40.756727
1           Starbucks  -73.985080  40.757660
2   Starbucks Reserve  -73.985222  40.759636
3           Starbucks  -73.985313  40.763714
4           Starbucks  -73.987535  40.762192
5           Starbucks  -73.992483  40.759020
6           Starbucks  -73.990935  40.755344
7           Starbucks  -73.982344  40.763735
8           Starbucks  -73.983782  40.760737
9           Starbucks  -73.987257  40.754361
10          Starbucks  -73.985083  40.753126
11          Starbucks  -73.988402  40.753668
12          Starbucks  -73.980208  40.755599
13          Starbucks  -73.989035  40.758001
14   Starbucks Coffee  -73.979674  40.761789
15          Starbucks  -73.978301  40.756425
16          Starbucks  -73.987177  40.760489
17          Starbucks  -73.983630  40.762426
18          Starbucks  -73.978954  40.758856
19          Starbucks  -73.979798  40.753204
20          Starbucks -111.922889  33.821715
21          Starbucks -111.922831  33.779028
22          Starbucks -111.922309  33.781056

In [31]:
'''
def requestAPI(lat,long,radius,what):
    api_key = os.getenv("API_KEY")
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    query = "{}location={},{}&radius={}&keyword={}&key={}".format(url,lat,long,radius,what,api_key)
    r = requests.get(query) 
    x = r.json() 
    y = x['results'] 
    results=[]
    return results
'''

In [16]:
business

{'_id': ObjectId('5dd05cc6754df22b96b8c84b'),
 'Id': '52cdef7c4bab8bd675297f94',
 'name': 'PeekYou',
 'category': 'search',
 'description': '',
 'long': -73.985506,
 'year': 2012,
 'money_raised': '$1.83M',
 'location': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
 'distance': 9.747111732704937}

In [14]:
#long
business[0]['location']['coordinates'][0]

-73.985506

In [15]:
#lat
business[0]['location']['coordinates'][1]

40.757929

In [19]:
def getcoord(query, lat, long):
    for que in query: 
        lat.append(que['location']['coordinates'][1])
        long.append(que['location']['coordinates'][0])
    return len(lat),len(long)

In [20]:
lat=[]
long=[]
getcoord(business,lat,long)

(99, 99)

In [21]:
lista=[]
busines=list(zip(lat,long))

In [22]:
for i in busines:
    lista.append("{},{}".format(i[0],i[1]))

In [35]:
starbucks

[[], []]

In [ ]:
requestAPI(lat,long,radius,what)

In [59]:
'''
def createApiDf(query):
    name=[]
    address=[]
    long=[]
    lat=[]
    for cia in results:
        name.append(cia[0])
        address.append(cia[1])
        long.append(cia[2]['lng'])
        lat.append(cia[2]['lat'])
    dic2={"name":name,"address":address,"long":long,"lat":lat}
    lil_DF=pd.DataFrame(dic2)
    return lil_DF  
'''

In [60]:
starDf=createApiDf(results)

In [61]:
starDf

,name,address,long,lat
0,International High School of San Francisco,"150 Oak St, San Francisco, CA 94102, United St...",-122.421637,37.775382
1,The San Francisco School,"300 Gaven St, San Francisco, CA 94134, United ...",-122.411353,37.732782
2,The Bay School of San Francisco,"35 Keyes Ave, San Francisco, CA 94129, United ...",-122.455646,37.800779
3,Urban School of San Francisco,"1563 Page St, San Francisco, CA 94117, United ...",-122.446084,37.770938
4,Sunset Elementary School,"1920 41st Ave, San Francisco, CA 94116, United...",-122.499563,37.750897
5,Ulloa Elementary School,"2650 42nd Ave, San Francisco, CA 94116, United...",-122.499702,37.737181
6,Robert Louis Stevenson Elementary School,"2051 34th Ave, San Francisco, CA 94116, United...",-122.492849,37.748710
7,June Jordan School for Equity,"325 La Grande Ave, San Francisco, CA 94112, Un...",-122.424877,37.719373
8,Claire Lilienthal Elementary School - Scott Ca...,"3630 Divisadero St, San Francisco, CA 94118, U...",-122.443406,37.803386
9,San Francisco University High School,"3065 Jackson St, San Francisco, CA 94115, Unit...",-122.445465,37.790890
10,The Brandeis School of San Francisco,"655 Brotherhood Way, San Francisco, CA 94132, ...",-122.475830,37.713408
11,Lawton Alternative School,"1570 31st Ave, San Francisco, CA 94122, United...",-122.489267,37.757667
12,Lycee Francais de San Francisco - LFSF - Orteg...,"1201 Ortega St, San Francisco, CA 94122, Unite...",-122.476474,37.751939
13,Alamo Elementary School,"250 23rd Ave, San Francisco, CA 94121, United ...",-122.482525,37.783059
14,Grattan Elementary School,"165 Grattan St, San Francisco, CA 94117, Unite...",-122.450509,37.763795
15,San Francisco Community Alternative School,"125 Excelsior Ave, San Francisco, CA 94112, Un...",-122.432194,37.726005
16,McKinley Elementary School,"1025 14th St, San Francisco, CA 94114, United ...",-122.436403,37.767158
17,Presidio Middle School,"450 30th Ave, San Francisco, CA 94121, United ...",-122.489901,37.781005
18,Ida B Wells High School,"1099 Hayes St, San Francisco, CA 94117, United...",-122.434028,37.775089
19,George Peabody Elementary School,"251 6th Ave, San Francisco, CA 94118, United S...",-122.465103,37.783854

In [62]:
export_csv = starDf.to_csv('schoolSF.csv', index=None, header=True)

In [11]:
'''
def getLocation(comp):
        longitude = comp['offices'][0]['longitude']
        latitude = comp['offices'][0]['latitude']
        loc = {
            'type':'Point',
            'coordinates':[longitude,latitude]
        }
        return loc
'''

In [30]:
stars[0]['lat']

37.790431

In [70]:
def getApiLoc(off):
    longitude = off['long']
    latitude = off['lat']
    loc=({
        'type':'Point',
        'coordinates':[longitude,latitude]
    })
    return loc

In [71]:
getApiLoc(stars[0])

{'type': 'Point', 'coordinates': [-122.4995634, 37.7508971]}

In [72]:
for star in stars:
    value={"$set":{'location':getApiLoc(star)}}
    coll.update_one(star,value)

In [12]:
'''
def setValue(query,loc):
    for company in query:
        value={"$set":{'location':getApiLoc(loc)}}
    return coll.update_one(company,value)
'''

In [18]:
'''
def setValue(query,loc):
    value=getApiLoc(loc)
    for company in query:
         return company,value
'''

In [ ]:
'''
#borrar
pin=
for company in results:
    pin.append(getApiLoc(company))
'''

In [ ]:
getApiLoc(results[0])

In [ ]:
for star in stars:
    value = {"$set": {'location':getApiLoc(result)}}
    coll.update_one(star,value)

In [ ]:
'''
for star in stars:
    value = {"$unset": {'location':''}}
    coll.update_one(star,value)
'''