In [ ]:
'''
- Designers like to go to design talks and share knowledge. There must be some nearby companies that also do design.
* 30% of the company have at least 1 child.
- Developers like to be near successful tech startups that have raised at least 1 Million dollars.
* Executives like Starbucks A LOT. Ensure there's a starbucks not to far.
- Account managers need to travel a lot
- All people in the company have between 25 and 40 years, give them some place to go to party.
* Nobody in the company likes to have companies with more than 10 years in a radius of 2 KM.
- The CEO is Vegan
'''

In [3]:
import pandas as pd
from pymongo import MongoClient
import json

In [4]:
#GAMING INDUSTRY
empl={'num':[20,5,10,15,5,20,1,10,1], 
      'wot':['Designers','UI/UX Engineers','Frontend Developers','Data Engineers','Backend Developers','Account Managers','Maintenance guy','Executives','CEO']
     }
df=pd.DataFrame(data=empl)
df

   num                  wot
0   20            Designers
1    5      UI/UX Engineers
2   10  Frontend Developers
3   15       Data Engineers
4    5   Backend Developers
5   20     Account Managers
6    1      Maintenance guy
7   10           Executives
8    1                  CEO

In [6]:
def connectCollection(database, collection):
    client = MongoClient()
    db = client[database]
    coll = db[collection]
    return db, coll

In [7]:
db, coll = connectCollection('companies','companies')

In [5]:
compas = list(coll.find({"$and":[{"deadpooled_year":None},{"founded_year":{"$gte":1999}},{"$where":"this.offices.length >= 1"},
         {"$or":[{"offices.latitude":{'$ne':None}},{"offices.longitude":{'$ne':None}}]}]}))

In [ ]:
myclient = MongoClient("mongodb://localhost/")
mydb = myclient["companies"]
mycol = mydb["preferred"]

In [22]:
with open('/compas.json','w') as fp:
    json.dump(compas,fp)

PermissionError: [Errno 13] Permission denied: '/compas.json'

In [15]:
def getLocation(comp):
    for off in comp["offices"]:
        longitude = off["latitude"]
        latitude = off["longitude"]
        loc=({
            'type':'Point',
            'coordinates':[longitude,latitude]
        })
    return loc

#que en vez de ir metiendolo en una lista, lo vaya metiendo en cada una de las entradas de una columna

In [16]:
print(getLocation(compas[0]))

{'type': 'Point', 'coordinates': [37.506885, -122.247573]}

In [ ]:
'''
lista=[]
for c in compas:
    lista.append(getLocation(c))  
'''

In [17]:
for company in compas:
    value = {"$set": {'location':getLocation(company)}}
    coll.update_one(company,value)

In [13]:
#funcion createDF

In [18]:
dfe=createDF(compas)

In [23]:
dfe

,Id,name,category,description,lat,long,year,money_raised
0,52cdef7c4bab8bd675297d90,Postini,web,None,37.506885,-122.247573,1999,$0
1,52cdef7c4bab8bd675297d91,Geni,web,Geneology social network site,34.090368,-118.393064,2006,$16.5M
2,52cdef7c4bab8bd675297d8d,Digg,news,user driven social content website,37.764726,-122.394523,2004,$45M
3,52cdef7c4bab8bd675297d96,Gizmoz,web,Photo animation,37.484130,-122.169472,2003,$18.1M
4,52cdef7c4bab8bd675297d98,Slacker,music,Music Personalization Suite,33.022176,-117.081406,2006,$73.1M
...,...,...,...,...,...,...,...,...
6485,52cdef7f4bab8bd67529c6f0,Intergy,software,,37.701940,-121.936698,2003,$0
6486,52cdef7f4bab8bd67529c6ef,Axon Solutions,software,,40.715887,-74.033251,2004,$0
6487,52cdef7f4bab8bd67529c6f5,Oriact,software,Solutions for software development,47.088219,8.437163,2009,$0
6488,52cdef7f4bab8bd67529c6f7,AfterLogic,software,.NET Email Components and Webmail,40.793024,-74.323554,2002,$0
6489,52cdef7f4bab8bd67529c6fa,EnteGreat,enterprise,,33.407786,-86.761302,2000,$0

In [24]:
export_csv = dfe.to_csv('../query.csv', index=None, header=True)

In [ ]:
def getDocu(dataframe):
    for off in comp["offices"]:
        longitude = off["latitude"]
        latitude = off["longitude"]
        loc.append({
            'type':'Point',
            'coordinates':[longitude,latitude]
        })
    return loc

In [ ]:
compa = list(coll.find({'category_code': 'games_video', }))

In [ ]:
print(len(compa))

In [ ]:
compa[0]["offices"][0]['latitude']

In [ ]:
compa[0]["offices"][0]['longitude']

In [ ]:
def getLocation(comp):
        longitude = comp['offices'][0]['longitude']
        latitude = comp['offices'][0]['latitude']
        loc = {
            'type':'Point',
            'coordinates':[longitude,latitude]
        }
        return loc

In [ ]:
loc0=getLocation(compa[0])

In [ ]:
loc0

In [ ]:
print(type(loc0['coordinates'][0]))

In [ ]:
for company in compa:
    value = {"$set": {'location':getLocation(company)}}
    coll.update_one(company,value)

In [ ]:
compa = list(coll.find({'category_code': 'games_video'}))
len(compa)

In [ ]:
multioffices = list(coll.find({'name':'Lala'}))
multioffices

In [ ]:
multioffices[0]["offices"][0]['latitude']

In [ ]:
multioffices[0]["offices"][1]['latitude']

In [ ]:
for off in multioffices[0]["offices"]: 
    print(off["latitude"],off["longitude"])

In [ ]:
def getLocation(comp):
    loc=[]
    for off in comp["offices"]:
        longitude = off["latitude"]
        latitude = off["longitude"]
        loc.append({
            'type':'Point',
            'coordinates':[longitude,latitude]
        })
    return loc

In [ ]:
lista=[]
for c in compas:
    lista.append(getLocation(c))

In [ ]:
print(len(lista))

In [ ]:
#si hay i oficinas  -len de e in lista- , mete p.e. nombre, i veces en la lista que luego va a ser una 
#columna del fantastico dataframe

In [ ]:
#bigquery '{$where:"this.offices.length >= 1"}'

In [ ]:
idi=[]
name=[]
category=[]
desc=[]
of_lat=[]
of_long=[]
foun_y=[]
price=[]
price_code=[]
for comp in range(len(company)):
    for office in range(len(company[comp].get('offices',0))):
        idi.append(company[comp].get('_id',0))
        name.append(company[comp].get('name',0))
        category.append(company[comp].get('category_code',0))
        desc.append(company[comp].get('description',0))
        of_lat.append(company[comp].get('offices',0)[office].get('latitude'))
        of_long.append(company[comp].get('offices',0)[office].get('longitude'))
        foun_y.append(company[comp].get('founded_year',0))
        price.append(company[comp].get('acquisition.price_amount',0))
        price_code.append(company[comp].get('acquisition.price_currency_code',0))

In [ ]:
dic={"idi":idi,"name":name, "category":category,"desc":desc,"lat":of_lat,"long":of_long,"found_y":foun_y,"price":price,
"price_code":price_code}
#df=pd.DataFrame()