In [1]:
import googlemaps
from datetime import datetime
import os
from dotenv import load_dotenv
load_dotenv()
import requests, json 
import pandas as pd
from pymongo import MongoClient

In [2]:
def connectCollection(database, collection):
    client = MongoClient()
    db = client[database]
    coll = db[collection]
    return db, coll

In [99]:
#para crear nuevas collections
myclient = MongoClient("mongodb://localhost/")
mydb = myclient["companies"]
mycol = mydb["kindergarten"]
#para importar el contenido de un csv a mongo
#mongoimport --db companies --collection kindergarten --type csv --file kindergarten.csv --headerline

In [ ]:
#https://stackoverflow.com/questions/5681851/mongodb-combine-data-from-multiple-collections-into-one-how

In [78]:
db, coll = connectCollection('companies','schools')

In [79]:
stars = list(coll.find())

In [ ]:
'''
gmaps = googlemaps.Client(key=os.getenv('API_KEY'))
geocode_result = gmaps.places('starbucks palo alto')
'''

In [8]:
api_key = os.getenv("API_KEY")
url = "https://maps.googleapis.com/maps/api/place/textsearch/json?"

In [88]:
query = input('Search query: ') 
r = requests.get(url + 'query=' + query + '&key=' + api_key) 
x = r.json() 
y = x['results'] 
results=[]
for i in range(len(y)): 
    results.append((y[i]['name'],y[i]['formatted_address'],y[i]['geometry']['location']))

#PULSA ENTER

Search query: kindergarten in manhattan

In [89]:
results

[('Ps 101 Manhattan',
  '141 E 111th St, New York, NY 10029, United States',
  {'lat': 40.7959052, 'lng': -73.9443835}),
 ('Maryknoll Kindergarten',
  '10 Confucius Plz, New York, NY 10002, United States',
  {'lat': 40.7147169, 'lng': -73.9958123}),
 ('Dwight School Preschool & Kindergarten',
  '144 Riverside Blvd, New York, NY 10069, United States',
  {'lat': 40.7768249, 'lng': -73.98882189999999}),
 ('Elements Preschool Kindergarten New York',
  '99 Suffolk St, New York, NY 10002, United States',
  {'lat': 40.7187561, 'lng': -73.9863111}),
 ("Lexington Childrens' Center",
  '115 E 98th St, New York, NY 10029, United States',
  {'lat': 40.7880607, 'lng': -73.9508974}),
 ('Rodeph Sholom School:Pre-Kindergarten',
  '10 W 84th St, New York, NY 10024, United States',
  {'lat': 40.7841385, 'lng': -73.97116849999999}),
 ('Cathedral Parkway Tower Preschool',
  '125 W 109th St #3, New York, NY 10025, United States',
  {'lat': 40.8019255, 'lng': -73.9628267}),
 ('Public School 190',
  '334 Greenwich St, New York, NY 10013, United States',
  {'lat': 40.7180827, 'lng': -74.010942}),
 ('San Jose Day Nursery Inc',
  '432 W 20th St, New York, NY 10011, United States',
  {'lat': 40.7451148, 'lng': -74.00437099999999}),
 ('HOLA NYC',
  '263 W 86th St, New York, NY 10024, United States',
  {'lat': 40.7888908, 'lng': -73.9772512}),
 ('Escalera Head Start',
  '169 W 87th St, New York, NY 10024, United States',
  {'lat': 40.788186, 'lng': -73.973511}),
 ('Yorkville Kindergarten',
  '352 E 78th St, New York, NY 10075, United States',
  {'lat': 40.7717343, 'lng': -73.9539033}),
 ('East Calvary Nursery School',
  '1 W 112th St, New York, NY 10026, United States',
  {'lat': 40.7984982, 'lng': -73.9485097}),
 ('St Mark the Evangelist Preschool',
  '67 W 138th St, New York, NY 10037, United States',
  {'lat': 40.8159622, 'lng': -73.9387879}),
 ('St Ignatius Day Nursery',
  '240 E 84th St, New York, NY 10028, United States',
  {'lat': 40.7766019, 'lng': -73.95339299999999}),
 ('Manhattan Nursery School',
  '38 W 32nd St #306, New York, NY 10001, United States',
  {'lat': 40.7477712, 'lng': -73.9874152}),
 ('Horace Mann Nursery School',
  '55 E 90th St, New York, NY 10128, United States',
  {'lat': 40.7833056, 'lng': -73.95623739999999}),
 ('Town House International School',
  '1209 Park Ave, New York, NY 10128, United States',
  {'lat': 40.7854482, 'lng': -73.9529396}),
 ("Harlem Children's Zone",
  '35 E 125th St, New York, NY 10035, United States',
  {'lat': 40.8059549, 'lng': -73.9407498}),
 ('Morningside Montessori School',
  '251 W 100th St #6, New York, NY 10025, United States',
  {'lat': 40.7977685, 'lng': -73.9708053})]

In [93]:
results[0][2]['lng']

-73.9443835

In [94]:
def createApiDf(query):
    name=[]
    address=[]
    long=[]
    lat=[]
    for cia in results:
        name.append(cia[0])
        address.append(cia[1])
        long.append(cia[2]['lng'])
        lat.append(cia[2]['lat'])
    dic2={"name":name,"address":address,"long":long,"lat":lat}
    lil_DF=pd.DataFrame(dic2)
    return lil_DF

In [95]:
starDf=createApiDf(results)

In [96]:
starDf

,name,address,long,lat
0,Ps 101 Manhattan,"141 E 111th St, New York, NY 10029, United States",-73.944384,40.795905
1,Maryknoll Kindergarten,"10 Confucius Plz, New York, NY 10002, United S...",-73.995812,40.714717
2,Dwight School Preschool & Kindergarten,"144 Riverside Blvd, New York, NY 10069, United...",-73.988822,40.776825
3,Elements Preschool Kindergarten New York,"99 Suffolk St, New York, NY 10002, United States",-73.986311,40.718756
4,Lexington Childrens' Center,"115 E 98th St, New York, NY 10029, United States",-73.950897,40.788061
5,Rodeph Sholom School:Pre-Kindergarten,"10 W 84th St, New York, NY 10024, United States",-73.971168,40.784138
6,Cathedral Parkway Tower Preschool,"125 W 109th St #3, New York, NY 10025, United ...",-73.962827,40.801926
7,Public School 190,"334 Greenwich St, New York, NY 10013, United S...",-74.010942,40.718083
8,San Jose Day Nursery Inc,"432 W 20th St, New York, NY 10011, United States",-74.004371,40.745115
9,HOLA NYC,"263 W 86th St, New York, NY 10024, United States",-73.977251,40.788891
10,Escalera Head Start,"169 W 87th St, New York, NY 10024, United States",-73.973511,40.788186
11,Yorkville Kindergarten,"352 E 78th St, New York, NY 10075, United States",-73.953903,40.771734
12,East Calvary Nursery School,"1 W 112th St, New York, NY 10026, United States",-73.948510,40.798498
13,St Mark the Evangelist Preschool,"67 W 138th St, New York, NY 10037, United States",-73.938788,40.815962
14,St Ignatius Day Nursery,"240 E 84th St, New York, NY 10028, United States",-73.953393,40.776602
15,Manhattan Nursery School,"38 W 32nd St #306, New York, NY 10001, United ...",-73.987415,40.747771
16,Horace Mann Nursery School,"55 E 90th St, New York, NY 10128, United States",-73.956237,40.783306
17,Town House International School,"1209 Park Ave, New York, NY 10128, United States",-73.952940,40.785448
18,Harlem Children's Zone,"35 E 125th St, New York, NY 10035, United States",-73.940750,40.805955
19,Morningside Montessori School,"251 W 100th St #6, New York, NY 10025, United ...",-73.970805,40.797768

In [97]:
export_csv = starDf.to_csv('kindergarten.csv', index=None, header=True)

In [11]:
'''
def getLocation(comp):
        longitude = comp['offices'][0]['longitude']
        latitude = comp['offices'][0]['latitude']
        loc = {
            'type':'Point',
            'coordinates':[longitude,latitude]
        }
        return loc
'''

In [98]:
stars[0]['lat']

40.7057417

In [81]:
def getApiLoc(off):
    longitude = off['long']
    latitude = off['lat']
    loc=({
        'type':'Point',
        'coordinates':[longitude,latitude]
    })
    return loc

In [82]:
getApiLoc(stars[0])

{'type': 'Point', 'coordinates': [-74.011207, 40.7057417]}

In [83]:
for star in stars:
    value={"$set":{'location':getApiLoc(star)}}
    coll.update_one(star,value)

In [12]:
'''
def setValue(query,loc):
    for company in query:
        value={"$set":{'location':getApiLoc(loc)}}
    return coll.update_one(company,value)
'''

In [18]:
'''
def setValue(query,loc):
    value=getApiLoc(loc)
    for company in query:
         return company,value
'''

In [ ]:
'''
#borrar
pin=
for company in results:
    pin.append(getApiLoc(company))
'''

In [ ]:
getApiLoc(results[0])

In [ ]:
for star in stars:
    value = {"$set": {'location':getApiLoc(result)}}
    coll.update_one(star,value)

In [ ]:
'''
for star in stars:
    value = {"$unset": {'location':''}}
    coll.update_one(star,value)
'''