In [4]:
import googlemaps
from datetime import datetime
import os
from dotenv import load_dotenv
load_dotenv()
import requests, json 
import pandas as pd
from pymongo import MongoClient

In [5]:
def connectCollection(database, collection):
    client = MongoClient()
    db = client[database]
    coll = db[collection]
    return db, coll

In [42]:
#para crear nuevas collections
myclient = MongoClient("mongodb://localhost/")
mydb = myclient["companies"]
mycol = mydb["nightclub"]
#para importar el contenido de un csv a mongo
#mongoimport --db companies --collection kindergarten --type csv --file kindergarten.csv --headerline

In [ ]:
#https://stackoverflow.com/questions/5681851/mongodb-combine-data-from-multiple-collections-into-one-how

In [63]:
db, coll = connectCollection('companies','schools')

In [67]:
stars = list(coll.find({"location": {"$exists": False }}))

In [68]:
#stars = list(coll.find())

In [69]:
print(len(stars))

20

In [ ]:
'''
gmaps = googlemaps.Client(key=os.getenv('API_KEY'))
geocode_result = gmaps.places('starbucks palo alto')
'''

In [6]:
api_key = os.getenv("API_KEY")
url = "https://maps.googleapis.com/maps/api/place/textsearch/json?"

In [56]:
query = input('Search query: ') 
r = requests.get(url + 'query=' + query + '&key=' + api_key) 
x = r.json() 
y = x['results'] 
results=[]
for i in range(len(y)): 
    results.append((y[i]['name'],y[i]['formatted_address'],y[i]['geometry']['location']))

#PULSA ENTER

Search query: schools in san francisco

In [57]:
results

[('International High School of San Francisco',
  '150 Oak St, San Francisco, CA 94102, United States',
  {'lat': 37.7753816, 'lng': -122.4216371}),
 ('The San Francisco School',
  '300 Gaven St, San Francisco, CA 94134, United States',
  {'lat': 37.7327817, 'lng': -122.4113534}),
 ('The Bay School of San Francisco',
  '35 Keyes Ave, San Francisco, CA 94129, United States',
  {'lat': 37.8007795, 'lng': -122.455646}),
 ('Urban School of San Francisco',
  '1563 Page St, San Francisco, CA 94117, United States',
  {'lat': 37.7709383, 'lng': -122.4460845}),
 ('Sunset Elementary School',
  '1920 41st Ave, San Francisco, CA 94116, United States',
  {'lat': 37.7508971, 'lng': -122.4995634}),
 ('Ulloa Elementary School',
  '2650 42nd Ave, San Francisco, CA 94116, United States',
  {'lat': 37.73718059999999, 'lng': -122.4997017}),
 ('Robert Louis Stevenson Elementary School',
  '2051 34th Ave, San Francisco, CA 94116, United States',
  {'lat': 37.7487104, 'lng': -122.4928488}),
 ('June Jordan School for Equity',
  '325 La Grande Ave, San Francisco, CA 94112, United States',
  {'lat': 37.7193732, 'lng': -122.4248772}),
 ('Claire Lilienthal Elementary School - Scott Campus',
  '3630 Divisadero St, San Francisco, CA 94118, United States',
  {'lat': 37.80338640000001, 'lng': -122.4434063}),
 ('San Francisco University High School',
  '3065 Jackson St, San Francisco, CA 94115, United States',
  {'lat': 37.7908898, 'lng': -122.4454646}),
 ('The Brandeis School of San Francisco',
  '655 Brotherhood Way, San Francisco, CA 94132, United States',
  {'lat': 37.7134077, 'lng': -122.4758295}),
 ('Lawton Alternative School',
  '1570 31st Ave, San Francisco, CA 94122, United States',
  {'lat': 37.7576672, 'lng': -122.4892675}),
 ('Lycee Francais de San Francisco - LFSF - Ortega Campus',
  '1201 Ortega St, San Francisco, CA 94122, United States',
  {'lat': 37.7519388, 'lng': -122.4764738}),
 ('Alamo Elementary School',
  '250 23rd Ave, San Francisco, CA 94121, United States',
  {'lat': 37.7830586, 'lng': -122.4825251}),
 ('Grattan Elementary School',
  '165 Grattan St, San Francisco, CA 94117, United States',
  {'lat': 37.7637948, 'lng': -122.4505091}),
 ('San Francisco Community Alternative School',
  '125 Excelsior Ave, San Francisco, CA 94112, United States',
  {'lat': 37.726005, 'lng': -122.4321939}),
 ('McKinley Elementary School',
  '1025 14th St, San Francisco, CA 94114, United States',
  {'lat': 37.7671582, 'lng': -122.4364032}),
 ('Presidio Middle School',
  '450 30th Ave, San Francisco, CA 94121, United States',
  {'lat': 37.7810048, 'lng': -122.4899008}),
 ('Ida B Wells High School',
  '1099 Hayes St, San Francisco, CA 94117, United States',
  {'lat': 37.7750892, 'lng': -122.4340281}),
 ('George Peabody Elementary School',
  '251 6th Ave, San Francisco, CA 94118, United States',
  {'lat': 37.7838537, 'lng': -122.4651034})]

In [58]:
results[0][2]['lng']

-122.4216371

In [59]:
def createApiDf(query):
    name=[]
    address=[]
    long=[]
    lat=[]
    for cia in results:
        name.append(cia[0])
        address.append(cia[1])
        long.append(cia[2]['lng'])
        lat.append(cia[2]['lat'])
    dic2={"name":name,"address":address,"long":long,"lat":lat}
    lil_DF=pd.DataFrame(dic2)
    return lil_DF

In [60]:
starDf=createApiDf(results)

In [61]:
starDf

,name,address,long,lat
0,International High School of San Francisco,"150 Oak St, San Francisco, CA 94102, United St...",-122.421637,37.775382
1,The San Francisco School,"300 Gaven St, San Francisco, CA 94134, United ...",-122.411353,37.732782
2,The Bay School of San Francisco,"35 Keyes Ave, San Francisco, CA 94129, United ...",-122.455646,37.800779
3,Urban School of San Francisco,"1563 Page St, San Francisco, CA 94117, United ...",-122.446084,37.770938
4,Sunset Elementary School,"1920 41st Ave, San Francisco, CA 94116, United...",-122.499563,37.750897
5,Ulloa Elementary School,"2650 42nd Ave, San Francisco, CA 94116, United...",-122.499702,37.737181
6,Robert Louis Stevenson Elementary School,"2051 34th Ave, San Francisco, CA 94116, United...",-122.492849,37.748710
7,June Jordan School for Equity,"325 La Grande Ave, San Francisco, CA 94112, Un...",-122.424877,37.719373
8,Claire Lilienthal Elementary School - Scott Ca...,"3630 Divisadero St, San Francisco, CA 94118, U...",-122.443406,37.803386
9,San Francisco University High School,"3065 Jackson St, San Francisco, CA 94115, Unit...",-122.445465,37.790890
10,The Brandeis School of San Francisco,"655 Brotherhood Way, San Francisco, CA 94132, ...",-122.475830,37.713408
11,Lawton Alternative School,"1570 31st Ave, San Francisco, CA 94122, United...",-122.489267,37.757667
12,Lycee Francais de San Francisco - LFSF - Orteg...,"1201 Ortega St, San Francisco, CA 94122, Unite...",-122.476474,37.751939
13,Alamo Elementary School,"250 23rd Ave, San Francisco, CA 94121, United ...",-122.482525,37.783059
14,Grattan Elementary School,"165 Grattan St, San Francisco, CA 94117, Unite...",-122.450509,37.763795
15,San Francisco Community Alternative School,"125 Excelsior Ave, San Francisco, CA 94112, Un...",-122.432194,37.726005
16,McKinley Elementary School,"1025 14th St, San Francisco, CA 94114, United ...",-122.436403,37.767158
17,Presidio Middle School,"450 30th Ave, San Francisco, CA 94121, United ...",-122.489901,37.781005
18,Ida B Wells High School,"1099 Hayes St, San Francisco, CA 94117, United...",-122.434028,37.775089
19,George Peabody Elementary School,"251 6th Ave, San Francisco, CA 94118, United S...",-122.465103,37.783854

In [62]:
export_csv = starDf.to_csv('schoolSF.csv', index=None, header=True)

In [11]:
'''
def getLocation(comp):
        longitude = comp['offices'][0]['longitude']
        latitude = comp['offices'][0]['latitude']
        loc = {
            'type':'Point',
            'coordinates':[longitude,latitude]
        }
        return loc
'''

In [30]:
stars[0]['lat']

37.790431

In [70]:
def getApiLoc(off):
    longitude = off['long']
    latitude = off['lat']
    loc=({
        'type':'Point',
        'coordinates':[longitude,latitude]
    })
    return loc

In [71]:
getApiLoc(stars[0])

{'type': 'Point', 'coordinates': [-122.4995634, 37.7508971]}

In [72]:
for star in stars:
    value={"$set":{'location':getApiLoc(star)}}
    coll.update_one(star,value)

In [12]:
'''
def setValue(query,loc):
    for company in query:
        value={"$set":{'location':getApiLoc(loc)}}
    return coll.update_one(company,value)
'''

In [18]:
'''
def setValue(query,loc):
    value=getApiLoc(loc)
    for company in query:
         return company,value
'''

In [ ]:
'''
#borrar
pin=
for company in results:
    pin.append(getApiLoc(company))
'''

In [ ]:
getApiLoc(results[0])

In [ ]:
for star in stars:
    value = {"$set": {'location':getApiLoc(result)}}
    coll.update_one(star,value)

In [ ]:
'''
for star in stars:
    value = {"$unset": {'location':''}}
    coll.update_one(star,value)
'''