In [9]:
import googlemaps
from datetime import datetime
import os
from dotenv import load_dotenv
load_dotenv()
import requests, json 
import pandas as pd
from pymongo import MongoClient

In [10]:
def connectCollection(database, collection):
    client = MongoClient()
    db = client[database]
    coll = db[collection]
    return db, coll

In [5]:
#para crear nuevas collections
#myclient = MongoClient("mongodb://localhost/")
#mydb = myclient["companies"]
#mycol = mydb["startups"]
#para importar el contenido de un csv a mongo
#mongoimport --db companies --collection kindergarten --type csv --file kindergarten.csv --headerline

In [5]:
#https://stackoverflow.com/questions/5681851/mongodb-combine-data-from-multiple-collections-into-one-how

In [11]:
db, coll = connectCollection('companies','preferred')

In [4]:
#stars = list(coll.find{"location": {"$exists": False }}))

In [12]:
business = list(coll.find({"$and":[{"money_raised":{"$ne":"$0"}},{"year":{"$gte":2009}}]}))

In [13]:
print(len(business))

99

In [10]:
'''
gmaps = googlemaps.Client(key=os.getenv('API_KEY'))
geocode_result = gmaps.places('starbucks palo alto')
'''

"\ngmaps = googlemaps.Client(key=os.getenv('API_KEY'))\ngeocode_result = gmaps.places('starbucks palo alto')\n"

In [9]:
'''
for i in range(len(y)): 
        results.append((y[i]['name'],y[i]['formatted_address'],y[i]['geometry']['location']))
'''

In [10]:
#location=-33.8670522,151.1957362&radius=1500&type=restaurant&keyword=cruise&key=YOUR_API_KEY

In [12]:
#query = "{}location={},{}&radius={}&type={}&keyword=cruise&key={api_key}".format(url,lat,long,radius,what,api_key)

In [59]:
def search_places_by_coordinate(location, radius, keyword):
        url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
        places = []
        params = {
            'location': location,
            'radius': radius,
            'keyword': keyword,
            'key': os.getenv("API_KEY")
        }
        res = requests.get(url, params = params)
        results =  json.loads(res.content)
        places.extend(results['results'])
        while "next_page_token" in results:
            params['pagetoken'] = results['next_page_token'],
            res = requests.get(url, params = params)
            results = json.loads(res.content)
            places.extend(results['results'])
        return places

In [18]:
#encontrar la funci√≥n que saca la lat y long

In [60]:
lista=[]
busines=list(zip(lat,long))

In [61]:
for i in busines:
    lista.append("{},{}".format(i[0],i[1]))

In [62]:
results=[]
for i in lista:    
    results.append(search_places_by_coordinate(i, "5000", "starbucks"))

In [63]:
results[0][0]['geometry']['location']['lat']

40.7567274

In [64]:
results[0][0]['name']

'Starbucks'

In [42]:
results[0]

[{'geometry': {'location': {'lat': 40.7567274, 'lng': -73.9858802},
   'viewport': {'northeast': {'lat': 40.75799997989272,
     'lng': -73.98462552010727},
    'southwest': {'lat': 40.75530032010727, 'lng': -73.98732517989272}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
  'id': '0670c3bc090a1e37682bc6822528b0fc0686363b',
  'name': 'Starbucks',
  'opening_hours': {'open_now': True},
  'photos': [{'height': 458,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/100140127863479698731/photos">Adam Fulford</a>'],
    'photo_reference': 'CmRaAAAAEC-XZhfSyaAGoWeyaRTE9ovPz9RPPJqstUm6OJuikgMOl1L-GTSIdBFsM45TkhBFM7_RlNGltWnUWKHrPQHbgufcuvPL-Uim47iyrIVCNcUdGTVxb6Khi5N3N7T1f7rwEhA24fQUiFpUMah4puNgoXY2GhQdZbW3sGFaSioJcvVMDkrQ338gUA',
    'width': 610}],
  'place_id': 'ChIJs7xxIFVYwokRGt4Tw5wSx1w',
  'plus_code': {'compound_code': 'Q247+MJ New York, United States',
   'global_code': '87G8Q247+MJ'},
  'price_level': 2,
  'rating': 4,
  'reference': 'ChIJs7xxIFVYwokRGt4Tw5wSx1w',
  'scope': 'GOOGLE',
  'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
  'user_ratings_total': 1446,
  'vicinity': '1500 Broadway, New York'},
 {'geometry': {'location': {'lat': 40.75766, 'lng': -73.98508},
   'viewport': {'northeast': {'lat': 40.75904737989272,
     'lng': -73.98370282010728},
    'southwest': {'lat': 40.75634772010728, 'lng': -73.98640247989273}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
  'id': 'ed2f9bed541a53eb22d29f06c75765252bd1cf73',
  'name': 'Starbucks',
  'opening_hours': {'open_now': False},
  'photos': [{'height': 4048,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/102679575920168389730/photos">Cynthia Hopper</a>'],
    'photo_reference': 'CmRaAAAAJNoM675xxCCnGs_sBJ2WZplGpYQ63vR_7cRcZrU-F11TCVIo7pzWInPuM7ku3SaF6s-2OItS6Q4j41xJCaDM0Yqx-IKUI4WYsyqWSOWAKbt4pKlpAguRBxbnqTpZMBhREhDl4mmJc9reXvWtyl3OvmYdGhSZ-xvhn6k6eSrP9Qz8AralPTVX-w',
    'width': 3036}],
  'place_id': 'ChIJEX2NUFRYwokR_VZ_Wb8sTUc',
  'plus_code': {'compound_code': 'Q257+3X New York, United States',
   'global_code': '87G8Q257+3X'},
  'price_level': 2,
  'rating': 4.2,
  'reference': 'ChIJEX2NUFRYwokR_VZ_Wb8sTUc',
  'scope': 'GOOGLE',
  'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
  'user_ratings_total': 198,
  'vicinity': '152 W 45th St, New York'},
 {'geometry': {'location': {'lat': 40.759636, 'lng': -73.985222},
   'viewport': {'northeast': {'lat': 40.76096017989272,
     'lng': -73.98392927010728},
    'southwest': {'lat': 40.75826052010728, 'lng': -73.98662892989272}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
  'id': '6604cc2fe776b211badfb6e6d725c3b3393b83e9',
  'name': 'Starbucks Reserve',
  'opening_hours': {'open_now': False},
  'photos': [{'height': 3024,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/118363974303955232335/photos">Rahul Gupta</a>'],
    'photo_reference': 'CmRaAAAAD6HMkK7jiVL2oA8D4zO4Z7OMAnmPdtVfpxGLdEB-nT5_cB-WkwQ7PJ5FQcEh4RJx_1TtX4wfVwFB9bB2z4axx6mVlsGrL581TmVRAxWVsOQ5hdlw87JF8p4H1g2FD5ZVEhAuB1-RAX9dnAEqxjNn5SvfGhRvExWmBF3_jtM_KH5y4QfTqxemrA',
    'width': 4032}],
  'place_id': 'ChIJRyw3xVVYwokRDnlnLn1JH7A',
  'plus_code': {'compound_code': 'Q257+VW New York, United States',
   'global_code': '87G8Q257+VW'},
  'price_level': 2,
  'rating': 4,
  'reference': 'ChIJRyw3xVVYwokRDnlnLn1JH7A',
  'scope': 'GOOGLE',
  'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
  'user_ratings_total': 880,
  'vicinity': '1585 Broadway, New York'},
 {'geometry': {'location': {'lat': 40.7637143, 'lng': -73.98531299999999},
   'viewport': {'northeast': {'lat': 40.76502602989272,
     'lng': -73.98386972010728},
    'southwest': {'lat': 40.76232637010728, 'lng': -73.98656937989273}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
  'id': '3dd96dc6e041d3617573df36a5457525088ee026',
  'name': 'Starbucks',
  'opening_hours': {'open_now': False},
  'photos': [{'height': 4032,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/100335778473949554643/photos">yuval ashkenazi</a>'],
    'photo_reference': 'CmRaAAAA5mC1nvMEyx0XiXONoU4kuMErMVdhcNREDORfqWQJQlN62fC6bHJqUHetOKf9h1cPMcW_KfpNodf7fMorIdDQ0jApfAVEOj4JzYQbuj4CD76fI9Ax8Qxf_v-EK-1WfRfdEhCRjBJe4zUPJWT9hPIE7WzNGhRSzhxJnAxTO5jBHLz12qej9gzEOw',
    'width': 3024}],
  'place_id': 'ChIJNZ2RpldYwokRFkZTMvzLazM',
  'plus_code': {'compound_code': 'Q277+FV New York, United States',
   'global_code': '87G8Q277+FV'},
  'price_level': 2,
  'rating': 4,
  'reference': 'ChIJNZ2RpldYwokRFkZTMvzLazM',
  'scope': 'GOOGLE',
  'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
  'user_ratings_total': 329,
  'vicinity': '871 8th Ave, New York'},
 {'geometry': {'location': {'lat': 40.762192, 'lng': -73.98753500000001},
   'viewport': {'northeast': {'lat': 40.76334632989273,
     'lng': -73.98583957010729},
    'southwest': {'lat': 40.76064667010728, 'lng': -73.98853922989274}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
  'id': '5c55c74e5a3b466b77e118075d88652ca8eff51e',
  'name': 'Starbucks',
  'opening_hours': {'open_now': False},
  'photos': [{'height': 1365,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/104899010890076471774/photos">◊ì◊†◊ô◊ê◊ú◊î ◊ì◊ü</a>'],
    'photo_reference': 'CmRaAAAAj2xFhlTbAaES4NpYHkaVqVUzDT8X1bt2r-RizUoFPSdFmuFeixOJIxND0SxG6QeTTn8gw6OrJOB7hT8oI09FBd5qXdzboz7kyfV9RnTAfYwNyot8i-SYj33JLFzsYZtTEhAunLpg5uGhtQKhsQfwaHj3GhSnoRaCiISlJ2UvfrPLyUU9i7m_RQ',
    'width': 1125}],
  'place_id': 'ChIJSUxHwVZYwokRXFyQi9V71Xw',
  'plus_code': {'compound_code': 'Q266+VX New York, United States',
   'global_code': '87G8Q266+VX'},
  'price_level': 2,
  'rating': 4,
  'reference': 'ChIJSUxHwVZYwokRXFyQi9V71Xw',
  'scope': 'GOOGLE',
  'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
  'user_ratings_total': 332,
  'vicinity': '325 W 49th St, New York'},
 {'geometry': {'location': {'lat': 40.7590205, 'lng': -73.9924826},
   'viewport': {'northeast': {'lat': 40.76031642989272,
     'lng': -73.99103837010728},
    'southwest': {'lat': 40.75761677010728, 'lng': -73.99373802989273}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
  'id': '530993d90be2c4fdf81437a19404260f973541a6',
  'name': 'Starbucks',
  'opening_hours': {'open_now': False},
  'photos': [{'height': 3120,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/112212994505175054325/photos">Giuliano DAlterio</a>'],
    'photo_reference': 'CmRaAAAA7LePlT9m1xXco2V98gIdwEw23WB-K1mS9NdjNdyhi55CIW0fEUCHHyo4wJWM1Hmck0ON4bi2D-AdCpLed82J7Gpg_Ld5fHJg6dQuKjKhzC38ZJGbMqlnHzkMYmJH2WmeEhCjQR8JDuzUSR5oZew59bZtGhRW39Ve98m6kvAQvezWTb0Iy_aHOA',
    'width': 4160}],
  'place_id': 'ChIJb5b8V1JYwokRznwmG7jK7bI',
  'plus_code': {'compound_code': 'Q255+J2 New York, United States',
   'global_code': '87G8Q255+J2'},
  'price_level': 2,
  'rating': 3.9,
  'reference': 'ChIJb5b8V1JYwokRznwmG7jK7bI',
  'scope': 'GOOGLE',
  'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
  'user_ratings_total': 474,
  'vicinity': '593 9th Ave, New York'},
 {'geometry': {'location': {'lat': 40.755344, 'lng': -73.990935},
   'viewport': {'northeast': {'lat': 40.75664952989272,
     'lng': -73.98961772010728},
    'southwest': {'lat': 40.75394987010728, 'lng': -73.99231737989273}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
  'id': '76b00180c2fece1ffd688c87449a0938e1f167b3',
  'name': 'Starbucks',
  'opening_hours': {'open_now': False},
  'photos': [{'height': 4032,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/103526902922087095088/photos">Jenny Wu</a>'],
    'photo_reference': 'CmRZAAAAGqr8DsHt67g4fSXosVB6fE57XKTYB9carj7nz-oXeW17zST0qRt5flZKvGLNY90CQC8XVDa0b4eqRfL32dRd1mGO0idGxdABFjssB8_KcbE1uLT_QCvgDJJC4X8jWKh8EhAVO2TgTdSXvFbGfuTmFgiIGhRYvSwyu0s6N93aUvfjYsAeYfQg9Q',
    'width': 3024}],
  'place_id': 'ChIJwaKHxKxZwokR4uwyzbbSZ_s',
  'plus_code': {'compound_code': 'Q245+4J New York, United States',
   'global_code': '87G8Q245+4J'},
  'price_level': 2,
  'rating': 3.8,
  'reference': 'ChIJwaKHxKxZwokR4uwyzbbSZ_s',
  'scope': 'GOOGLE',
  'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
  'user_ratings_total': 876,
  'vicinity': '600 Eighth Ave, New York'},
 {'geometry': {'location': {'lat': 40.763735, 'lng': -73.982344},
   'viewport': {'northeast': {'lat': 40.76512762989272,
     'lng': -73.98113882010728},
    'southwest': {'lat': 40.76242797010728, 'lng': -73.98383847989271}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
  'id': '614fbdc0d60e93309e9033bc07e54f8aad1777f1',
  'name': 'Starbucks',
  'opening_hours': {'open_now': False},
  'photos': [{'height': 5312,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/104446134225033520526/photos">Quiana Riche</a>'],
    'photo_reference': 'CmRaAAAARjCPlJmbEYBsFJOI2fxMiE-3b26AYHi7GxES-_lexlCfjEd2KArUu3q56IJApThbyjh6vaxrzcFViFj8spiIuFRJo9S5sCrcVldUSHEJhi6Vl7bm_aARoDAQyr9N3l3xEhArquPfl_WBd5cIQV8ALJ_2GhTnvaMM8k4J034VAdTjIhA-RV6EpA',
    'width': 2988}],
  'place_id': 'ChIJaxzbEfhYwokRi9cQUWNrqA4',
  'plus_code': {'compound_code': 'Q279+F3 New York, United States',
   'global_code': '87G8Q279+F3'},
  'price_level': 2,
  'rating': 4.1,
  'reference': 'ChIJaxzbEfhYwokRi9cQUWNrqA4',
  'scope': 'GOOGLE',
  'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
  'user_ratings_total': 445,
  'vicinity': '1700 Broadway, New York'},
 {'geometry': {'location': {'lat': 40.7607368, 'lng': -73.9837823},
   'viewport': {'northeast': {'lat': 40.76203422989272,
     'lng': -73.98233957010727},
    'southwest': {'lat': 40.75933457010727, 'lng': -73.9850392298927}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
  'id': 'ce38a273f1e967cc1a189c7f36b690c8a9f08b9c',
  'name': 'Starbucks',
  'opening_hours': {'open_now': False},
  'photos': [{'height': 614,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113699824568708807678/photos">A Google User</a>'],
    'photo_reference': 'CmRaAAAAek8f7H8Hy21ug4a4v9WI6YnQGQQXubUGWxZceCvH9A21vsEjyfz2A-Jzt8SAZlT0Lp9KvvWay23DaVs12U37TFiXZaxWXWTOb20JSsQyMh20elWdyA440lJAPXs08mtZEhByhKAsiooNE8pFATvNEJMtGhSZKdh-ja9d-d1CkN5FbFhuqwmIxw',
    'width': 710}],
  'place_id': 'ChIJQ2BPG1ZYwokRoFD8_gpVfN4',
  'plus_code': {'compound_code': 'Q268+7F New York, United States',
   'global_code': '87G8Q268+7F'},
  'price_level': 2,
  'rating': 4,
  'reference': 'ChIJQ2BPG1ZYwokRoFD8_gpVfN4',
  'scope': 'GOOGLE',
  'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
  'user_ratings_total': 340,
  'vicinity': '750 7th Ave, New York'},
 {'geometry': {'location': {'lat': 40.754361, 'lng': -73.987257},
   'viewport': {'northeast': {'lat': 40.75567957989271,
     'lng': -73.98573622010727},
    'southwest': {'lat': 40.75297992010727, 'lng': -73.98843587989272}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
  'id': '42d8d760376922f5818bf378b81ec999e286dba6',
  'name': 'Starbucks',
  'opening_hours': {'open_now': False},
  'photos': [{'height': 2048,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/112704044109083241514/photos">Arta Neilande</a>'],
    'photo_reference': 'CmRaAAAA7ANiu6sNCtFdIKyvctevwRk1gOWjN_pnNH29_BVPtK3V3KylmWOHFhrlmht0GAUmMfYEVtZUVj5cgX3xh-2x0CqrqSSKFP1vquJmGiFS7pIBDcThwYOLxTsjQovHTdCMEhDZ2BEkpttmEXt16X1Leoq2GhTxFimZ4jrtOyDPolTgp5mByRLuGg',
    'width': 1536}],
  'place_id': 'ChIJRX23FatZwokRSA4n7tp75Tw',
  'plus_code': {'compound_code': 'Q237+P3 New York, United States',
   'global_code': '87G8Q237+P3'},
  'price_level': 2,
  'rating': 3.9,
  'reference': 'ChIJRX23FatZwokRSA4n7tp75Tw',
  'scope': 'GOOGLE',
  'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
  'user_ratings_total': 735,
  'vicinity': '1411 Broadway, New York'},
 {'geometry': {'location': {'lat': 40.75312599999999, 'lng': -73.985083},
   'viewport': {'northeast': {'lat': 40.75451687989271,
     'lng': -73.98382972010728},
    'southwest': {'lat': 40.75181722010727, 'lng': -73.98652937989272}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
  'id': 'b743c063b54960d8daa8ca18e160f0a44b25a0fc',
  'name': 'Starbucks',
  'opening_hours': {'open_now': False},
  'photos': [{'height': 2448,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/109771154651331497851/photos">Marcio Silva</a>'],
    'photo_reference': 'CmRaAAAAhbvUrNEcwqzUSa2e4CCoEFoNnZ8aGlLqjM1Id8Mshr922E8CAZ2uVbU-DmdrzXIaLJIUaZpv39XiItYQJnohaZUb3wTWgm8Np_BMuS4vlJg-Vizydof9ALCIFJAX18lsEhBRhbmNZVRsd8y_Psl_5fTfGhQOaJyQi6Ir-K3Km4YP8T3sR4UnrA',
    'width': 3264}],
  'place_id': 'ChIJy6py96pZwokRUwo8M9BbVtU',
  'plus_code': {'compound_code': 'Q237+7X New York, United States',
   'global_code': '87G8Q237+7X'},
  'price_level': 2,
  'rating': 3.6,
  'reference': 'ChIJy6py96pZwokRUwo8M9BbVtU',
  'scope': 'GOOGLE',
  'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
  'user_ratings_total': 175,
  'vicinity': '1040 6th Ave, New York'},
 {'geometry': {'location': {'lat': 40.753668, 'lng': -73.988402},
   'viewport': {'northeast': {'lat': 40.75506272989271,
     'lng': -73.98715862010728},
    'southwest': {'lat': 40.75236307010727, 'lng': -73.98985827989272}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
  'id': '2c67668cbaa95a74478b2477741e8cba01c8dd65',
  'name': 'Starbucks',
  'opening_hours': {'open_now': False},
  'photos': [{'height': 4048,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/107233095205668150808/photos">Simon Mowlam</a>'],
    'photo_reference': 'CmRaAAAABapNTaIzdGcz0_KEx38FuM3CibYcyGz3Fh0Wqo5Nb9GinyWMbj0xRNjZc4vH0lgTlbyLGL3S5nRs2XfIRlg6196MWLuUo4KOnoJJ3tNWp3yGbu_cd_jRJbXOmN7eIy-QEhCR7r-kTiDGh58U9kDPeErDGhTG9uq1GkhAF3vbX6htOAc-p-ym6A',
    'width': 3036}],
  'place_id': 'ChIJUdnegKxZwokR6gLhDwxOyp4',
  'plus_code': {'compound_code': 'Q236+FJ New York, United States',
   'global_code': '87G8Q236+FJ'},
  'price_level': 2,
  'rating': 3.7,
  'reference': 'ChIJUdnegKxZwokR6gLhDwxOyp4',
  'scope': 'GOOGLE',
  'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
  'user_ratings_total': 320,
  'vicinity': '525 7th Ave, New York'},
 {'geometry': {'location': {'lat': 40.755599, 'lng': -73.98020799999999},
   'viewport': {'northeast': {'lat': 40.75698997989272,
     'lng': -73.97882792010726},
    'southwest': {'lat': 40.75429032010727, 'lng': -73.98152757989271}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
  'id': '653b34c7531e0e51baff4a2c6b27c7d0bee06de2',
  'name': 'Starbucks',
  'opening_hours': {'open_now': False},
  'photos': [{'height': 1184,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/100099546962795880983/photos">Kamila Zuklinska</a>'],
    'photo_reference': 'CmRaAAAAAjYnRzQjytqY7diHl1ds3UUvIm47OSVbu5leDXeDSW8jmlSTQjwjPOjhGpZgOa3s03fFEHq2_5z61uMDF1Y7aodpcCTQiQoQ7uz79U9wXbHy8W8rnERqAQWRnYIAP2uREhAr2IT4eD4G5vD6u8tyInFKGhSVzH4cuJh03hbue8_tBxi3h2LAkw',
    'width': 720}],
  'place_id': 'ChIJH7uQZ_5YwokRyKuuVx5pkUQ',
  'plus_code': {'compound_code': 'Q249+6W New York, United States',
   'global_code': '87G8Q249+6W'},
  'price_level': 2,
  'rating': 4,
  'reference': 'ChIJH7uQZ_5YwokRyKuuVx5pkUQ',
  'scope': 'GOOGLE',
  'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
  'user_ratings_total': 679,
  'vicinity': '2 W 45th St, New York'},
 {'geometry': {'location': {'lat': 40.7580006, 'lng': -73.989035},
   'viewport': {'northeast': {'lat': 40.75938237989272,
     'lng': -73.98776077010727},
    'southwest': {'lat': 40.75668272010727, 'lng': -73.99046042989272}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
  'id': 'a8a4ddd7f25907809313a1646f620d1ed8eb3125',
  'name': 'Starbucks',
  'opening_hours': {'open_now': False},
  'photos': [{'height': 4032,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/117490607693266482575/photos">David W</a>'],
    'photo_reference': 'CmRaAAAAlDzpTORikctZYDhxm4xLxMsKGha9PXlT3Yxh50MlgGEkNMpzDAMpwLsl3wls0GwZA81aM6Uv1aAl-H1BhYDm7YgLrWUfM-Z_nPCXpLUFDqFlMsYULlcek2vC-nHoNKbeEhAVOd2mYYLHhNkL-glNEKuOGhQYTmk5qqfmZT1xAIM38k7rtxuhmA',
    'width': 2268}],
  'place_id': 'ChIJY5u8fVNYwokRT_Q6N6fwHW8',
  'plus_code': {'compound_code': 'Q256+69 New York, United States',
   'global_code': '87G8Q256+69'},
  'price_level': 2,
  'rating': 3.8,
  'reference': 'ChIJY5u8fVNYwokRT_Q6N6fwHW8',
  'scope': 'GOOGLE',
  'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
  'user_ratings_total': 565,
  'vicinity': '684 8th Ave, New York'},
 {'geometry': {'location': {'lat': 40.761789, 'lng': -73.979674},
   'viewport': {'northeast': {'lat': 40.76303967989273,
     'lng': -73.97808242010728},
    'southwest': {'lat': 40.76034002010728, 'lng': -73.98078207989272}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
  'id': 'd99bd338ebe3555cc8852271893cf4b7f4c72655',
  'name': 'Starbucks Coffee',
  'opening_hours': {'open_now': False},
  'photos': [{'height': 3264,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/106639646833101593982/photos">mo hh</a>'],
    'photo_reference': 'CmRaAAAAyCx9rczjNuDEbxc_z7bK-CtgudoMvfdg7MRRTjgKInpu6wWzw9xcLmjZmsOjaF5wpbMhLar2HnUnTwJgKPuOT2K2DkjR58_RbZfYsxcnwVWpgER6SOSt_hpCF84lTjOkEhCVqFhqMWK-gwgFDUTobyvUGhRFdDfxkqMI4wMa9JlRHWbQ2xyUtA',
    'width': 2448}],
  'place_id': 'ChIJgTYbjfhYwokRSxprQ460Qag',
  'plus_code': {'compound_code': 'Q26C+P4 New York, United States',
   'global_code': '87G8Q26C+P4'},
  'price_level': 2,
  'rating': 3.5,
  'reference': 'ChIJgTYbjfhYwokRSxprQ460Qag',
  'scope': 'GOOGLE',
  'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
  'user_ratings_total': 145,
  'vicinity': '1301 6th Ave, New York'},
 {'geometry': {'location': {'lat': 40.756425, 'lng': -73.978301},
   'viewport': {'northeast': {'lat': 40.75784487989272,
     'lng': -73.97711722010729},
    'southwest': {'lat': 40.75514522010728, 'lng': -73.97981687989274}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
  'id': '7e42bc386b69d60d2e2ce59c7cb2beb2caf2f2a0',
  'name': 'Starbucks',
  'opening_hours': {'open_now': False},
  'photos': [{'height': 4048,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/111742199561206456936/photos">Robert Otto</a>'],
    'photo_reference': 'CmRaAAAAYEeDC-kJf_gGE5FBbKk14CbbSxfUy84fjYbZLuK50-NMITyfMPHy75QbHLIrmD1nZNt-ae9ewGKUUEO349kNF-rTikMPDrUsgt_HPdR_Cb0GBYUTxEc9iXS_hfvufj0wEhBTvBS8aOGJHV2BJLlYiu9NGhR51qGBKoT1qm9nUAszO_UIsQ61hw',
    'width': 3036}],
  'place_id': 'ChIJH7uQZ_5YwokRnoB9R_G2X08',
  'plus_code': {'compound_code': 'Q24C+HM New York, United States',
   'global_code': '87G8Q24C+HM'},
  'price_level': 2,
  'rating': 3.8,
  'reference': 'ChIJH7uQZ_5YwokRnoB9R_G2X08',
  'scope': 'GOOGLE',
  'types': ['cafe', 'food', 'point_of_interest', 'store', 'establishment'],
  'user_ratings_total': 217,
  'vicinity': '575 5th Ave, New York'},
 {'geometry': {'location': {'lat': 40.760489, 'lng': -73.987177},
   'viewport': {'northeast': {'lat': 40.76187307989272,
     'lng': -73.98591142010727},
    'southwest': {'lat': 40.75917342010728, 'lng': -73.98861107989272}}},
  'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/cafe-71.png',
  'id': '4f028a84c46f2f876aade792ecb558821489f4f4',
  'name': 'Starbucks',
  'opening_hours': {'open_now': False},
  'photos': [{'height': 4128,
    'html_attributions': ['<a href="https://maps.google.com/maps/contrib/108974879785970295409/photos">Gert Jonkman</a>'],

In [65]:
def createApiDf(query):
    name=[]
    long=[]
    lat=[]
    for location in query:
        for starbucks in location:
            name.append(starbucks['name'])
            long.append(starbucks['geometry']['location']['lng'])
            lat.append(starbucks['geometry']['location']['lat'])
    dic2={"name":name,"long":long,"lat":lat}
    lil_DF=pd.DataFrame(dic2)
    return lil_DF

In [66]:
df_molona = createApiDf(results)
df_molona

                   name        long        lat
0             Starbucks  -73.985880  40.756727
1             Starbucks  -73.985080  40.757660
2     Starbucks Reserve  -73.985222  40.759636
3             Starbucks  -73.985313  40.763714
4             Starbucks  -73.987535  40.762192
...                 ...         ...        ...
1522          Starbucks -123.070115  49.261904
1523          Starbucks -123.138847  49.263138
1524          Starbucks -123.124603  49.281852
1525          Starbucks -123.107244  49.279970
1526          Starbucks -123.099780  49.262738

[1527 rows x 3 columns]

In [67]:
export_csv = df_molona.to_csv('starbucks99.csv', index=None, header=True)

In [55]:
'''
def getStarbucks(query):
    for location in query:
        for starbucks in location:
            starb = {'name': starbucks['name'],
                     'long': starbucks['geometry']['location']['lng'],
                     'lat': starbucks['geometry']['location']['lat']}
    df = pd.DataFrame(starb)
    return df
'''

In [45]:
starbucks=createApiDf(results)

In [46]:
starbucks

                 name        long        lat
0           Starbucks  -73.985880  40.756727
1           Starbucks  -73.985080  40.757660
2   Starbucks Reserve  -73.985222  40.759636
3           Starbucks  -73.985313  40.763714
4           Starbucks  -73.987535  40.762192
5           Starbucks  -73.992483  40.759020
6           Starbucks  -73.990935  40.755344
7           Starbucks  -73.982344  40.763735
8           Starbucks  -73.983782  40.760737
9           Starbucks  -73.987257  40.754361
10          Starbucks  -73.985083  40.753126
11          Starbucks  -73.988402  40.753668
12          Starbucks  -73.980208  40.755599
13          Starbucks  -73.989035  40.758001
14   Starbucks Coffee  -73.979674  40.761789
15          Starbucks  -73.978301  40.756425
16          Starbucks  -73.987177  40.760489
17          Starbucks  -73.983630  40.762426
18          Starbucks  -73.978954  40.758856
19          Starbucks  -73.979798  40.753204
20          Starbucks -111.922889  33.821715
21          Starbucks -111.922831  33.779028
22          Starbucks -111.922309  33.781056

In [31]:
'''
def requestAPI(lat,long,radius,what):
    api_key = os.getenv("API_KEY")
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"
    query = "{}location={},{}&radius={}&keyword={}&key={}".format(url,lat,long,radius,what,api_key)
    r = requests.get(query) 
    x = r.json() 
    y = x['results'] 
    results=[]
    return results
'''

In [16]:
business

{'_id': ObjectId('5dd05cc6754df22b96b8c84b'),
 'Id': '52cdef7c4bab8bd675297f94',
 'name': 'PeekYou',
 'category': 'search',
 'description': '',
 'long': -73.985506,
 'year': 2012,
 'money_raised': '$1.83M',
 'location': {'type': 'Point', 'coordinates': [-73.985506, 40.757929]},
 'distance': 9.747111732704937}

In [14]:
#long
business[0]['location']['coordinates'][0]

-73.985506

In [15]:
#lat
business[0]['location']['coordinates'][1]

40.757929

In [19]:
def getcoord(query, lat, long):
    for que in query: 
        lat.append(que['location']['coordinates'][1])
        long.append(que['location']['coordinates'][0])
    return len(lat),len(long)

In [20]:
lat=[]
long=[]
getcoord(business,lat,long)

(99, 99)

In [21]:
lista=[]
busines=list(zip(lat,long))

In [22]:
for i in busines:
    lista.append("{},{}".format(i[0],i[1]))

In [35]:
starbucks

[[], []]

In [ ]:
requestAPI(lat,long,radius,what)

In [59]:
'''
def createApiDf(query):
    name=[]
    address=[]
    long=[]
    lat=[]
    for cia in results:
        name.append(cia[0])
        address.append(cia[1])
        long.append(cia[2]['lng'])
        lat.append(cia[2]['lat'])
    dic2={"name":name,"address":address,"long":long,"lat":lat}
    lil_DF=pd.DataFrame(dic2)
    return lil_DF  
'''

In [60]:
starDf=createApiDf(results)

In [61]:
starDf

,name,address,long,lat
0,International High School of San Francisco,"150 Oak St, San Francisco, CA 94102, United St...",-122.421637,37.775382
1,The San Francisco School,"300 Gaven St, San Francisco, CA 94134, United ...",-122.411353,37.732782
2,The Bay School of San Francisco,"35 Keyes Ave, San Francisco, CA 94129, United ...",-122.455646,37.800779
3,Urban School of San Francisco,"1563 Page St, San Francisco, CA 94117, United ...",-122.446084,37.770938
4,Sunset Elementary School,"1920 41st Ave, San Francisco, CA 94116, United...",-122.499563,37.750897
5,Ulloa Elementary School,"2650 42nd Ave, San Francisco, CA 94116, United...",-122.499702,37.737181
6,Robert Louis Stevenson Elementary School,"2051 34th Ave, San Francisco, CA 94116, United...",-122.492849,37.748710
7,June Jordan School for Equity,"325 La Grande Ave, San Francisco, CA 94112, Un...",-122.424877,37.719373
8,Claire Lilienthal Elementary School - Scott Ca...,"3630 Divisadero St, San Francisco, CA 94118, U...",-122.443406,37.803386
9,San Francisco University High School,"3065 Jackson St, San Francisco, CA 94115, Unit...",-122.445465,37.790890
10,The Brandeis School of San Francisco,"655 Brotherhood Way, San Francisco, CA 94132, ...",-122.475830,37.713408
11,Lawton Alternative School,"1570 31st Ave, San Francisco, CA 94122, United...",-122.489267,37.757667
12,Lycee Francais de San Francisco - LFSF - Orteg...,"1201 Ortega St, San Francisco, CA 94122, Unite...",-122.476474,37.751939
13,Alamo Elementary School,"250 23rd Ave, San Francisco, CA 94121, United ...",-122.482525,37.783059
14,Grattan Elementary School,"165 Grattan St, San Francisco, CA 94117, Unite...",-122.450509,37.763795
15,San Francisco Community Alternative School,"125 Excelsior Ave, San Francisco, CA 94112, Un...",-122.432194,37.726005
16,McKinley Elementary School,"1025 14th St, San Francisco, CA 94114, United ...",-122.436403,37.767158
17,Presidio Middle School,"450 30th Ave, San Francisco, CA 94121, United ...",-122.489901,37.781005
18,Ida B Wells High School,"1099 Hayes St, San Francisco, CA 94117, United...",-122.434028,37.775089
19,George Peabody Elementary School,"251 6th Ave, San Francisco, CA 94118, United S...",-122.465103,37.783854

In [62]:
export_csv = starDf.to_csv('schoolSF.csv', index=None, header=True)

In [11]:
'''
def getLocation(comp):
        longitude = comp['offices'][0]['longitude']
        latitude = comp['offices'][0]['latitude']
        loc = {
            'type':'Point',
            'coordinates':[longitude,latitude]
        }
        return loc
'''

In [30]:
stars[0]['lat']

37.790431

In [70]:
def getApiLoc(off):
    longitude = off['long']
    latitude = off['lat']
    loc=({
        'type':'Point',
        'coordinates':[longitude,latitude]
    })
    return loc

In [71]:
getApiLoc(stars[0])

{'type': 'Point', 'coordinates': [-122.4995634, 37.7508971]}

In [72]:
for star in stars:
    value={"$set":{'location':getApiLoc(star)}}
    coll.update_one(star,value)

In [12]:
'''
def setValue(query,loc):
    for company in query:
        value={"$set":{'location':getApiLoc(loc)}}
    return coll.update_one(company,value)
'''

In [18]:
'''
def setValue(query,loc):
    value=getApiLoc(loc)
    for company in query:
         return company,value
'''

In [ ]:
'''
#borrar
pin=
for company in results:
    pin.append(getApiLoc(company))
'''

In [ ]:
getApiLoc(results[0])

In [ ]:
for star in stars:
    value = {"$set": {'location':getApiLoc(result)}}
    coll.update_one(star,value)

In [ ]:
'''
for star in stars:
    value = {"$unset": {'location':''}}
    coll.update_one(star,value)
'''