In [1]:
import pandas as pd

In [3]:
dist=pd.read_csv('distoair.csv')

In [5]:
dist = dist.sort_values('dis to an airport',ascending=True)

In [ ]:
#{distance:{$exists:true}}

In [6]:
dist

,name,long,lat,dis to an airport
33,HyperWeek,6.150324,46.212146,4.296255
41,Talari Networks,-78.826711,35.853509,4.434259
85,VistaGen Therapeutics,-122.384349,37.665648,5.251951
42,Talari Networks,-121.949417,37.317735,5.305016
72,DP7 Digital,-46.677369,-23.581521,5.399364
...,...,...,...,...
34,Queralt,-72.819011,41.477864,52.489957
90,Clovis Oncology,-105.259041,40.026000,53.196009
88,Solix Biofuels,-105.076650,40.593239,88.267087
87,Applied Genetics Technologies Corporation,-82.476804,29.784764,109.436041
81,Chicisimo,-2.930832,43.264499,248.144704

In [8]:
cutoffs = [0,10,20,50,100,300]
km_labels = ['0-10km', '10-20km', '20-50km','50-100km','100-300km']
dist['range'] = pd.cut(dist['dis to an airport'], cutoffs, labels = km_labels)
dist['range'].value_counts()

10-20km      43
0-10km       26
20-50km      24
50-100km      4
100-300km     2
Name: range, dtype: int64

In [9]:
dist

,name,long,lat,dis to an airport,range
33,HyperWeek,6.150324,46.212146,4.296255,0-10km
41,Talari Networks,-78.826711,35.853509,4.434259,0-10km
85,VistaGen Therapeutics,-122.384349,37.665648,5.251951,0-10km
42,Talari Networks,-121.949417,37.317735,5.305016,0-10km
72,DP7 Digital,-46.677369,-23.581521,5.399364,0-10km
...,...,...,...,...,...
34,Queralt,-72.819011,41.477864,52.489957,50-100km
90,Clovis Oncology,-105.259041,40.026000,53.196009,50-100km
88,Solix Biofuels,-105.076650,40.593239,88.267087,50-100km
87,Applied Genetics Technologies Corporation,-82.476804,29.784764,109.436041,100-300km
81,Chicisimo,-2.930832,43.264499,248.144704,100-300km